a{
  color:blue;
}

nav a{
  margin: 0px 5px;
  text-align: center;
}

nav { 
  text-align: center; 
}

#title_bar {
  padding-bottom: 5px;
}

h1 {
  text-align: center;
  background-color:cyan;
  width: 100%;
  margin: 0px;
  padding: 5px;
}

h3 {
  padding-left: 2%;
}

body{
  font-family: Ubuntu, serif;
  margin: auto;
  padding: 0px;
  font-size: 20px;
  text-align: left;
  position: relative;
}
